wsdl/DocumentService2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ns="http://impl.services2.service.ws.projectdirector.gs4tr.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
	xmlns:ax225="http://dto.model.projectdirector.gs4tr.org/xsd"
	targetNamespace="http://impl.services2.service.ws.projectdirector.gs4tr.org">
	<wsdl:documentation>DocumentService2</wsdl:documentation>
	<wsdl:types>
		<xs:schema xmlns:ax226="http://dto.model.projectdirector.gs4tr.org/xsd"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://impl.services2.service.ws.projectdirector.gs4tr.org">
			<xs:import namespace="http://dto.model.projectdirector.gs4tr.org/xsd" schemaLocation="types.xsd" />
			<xs:import namespace="http://www.w3.org/2005/05/xmlmime"
				schemaLocation="xmime.xsd" />
			<xs:element name="cancelDocument">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="documentTicket" nillable="false"
							type="ax226:DocumentTicket" />
						<xs:element name="userId" nillable="false" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="cancelDocumentResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="findByTicket">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ticket" nillable="false" type="xs:string" />
						<xs:element name="userId" nillable="false" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="findByTicketResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" nillable="true" type="ax226:Document" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="search">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="command" nillable="false"
							type="ax226:DocumentSearchRequest" />
						<xs:element name="info" nillable="false" type="ax226:PagedListInfo" />
						<xs:element name="userId" nillable="false" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="searchResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" nillable="true"
							type="ax226:DocumentPagedList" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="submitDocumentWithBinaryResource">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="documentInfo" nillable="false"
							type="ax226:DocumentInfo" />
						<xs:element name="resourceInfo" nillable="false"
							type="ax226:ResourceInfo" />
						<xs:element name="data" nillable="false" type="xmime:base64Binary" />
						<xs:element name="userId" nillable="false" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="submitDocumentWithBinaryResourceResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" nillable="true"
							type="ax226:DocumentTicket" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="submitDocumentWithTextResource">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="documentInfo" nillable="false"
							type="ax226:DocumentInfo" />
						<xs:element name="resourceInfo" nillable="false"
							type="ax226:ResourceInfo" />
						<xs:element name="data" nillable="false" type="xs:string" />
						<xs:element name="userId" nillable="false" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="submitDocumentWithTextResourceResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" nillable="true"
							type="ax226:DocumentTicket" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="findByTicketRequest">
		<wsdl:part name="parameters" element="ns:findByTicket" />
	</wsdl:message>
	<wsdl:message name="findByTicketResponse">
		<wsdl:part name="parameters" element="ns:findByTicketResponse" />
	</wsdl:message>
	<wsdl:message name="submitDocumentWithTextResourceRequest">
		<wsdl:part name="parameters" element="ns:submitDocumentWithTextResource" />
	</wsdl:message>
	<wsdl:message name="submitDocumentWithTextResourceResponse">
		<wsdl:part name="parameters" element="ns:submitDocumentWithTextResourceResponse" />
	</wsdl:message>
	<wsdl:message name="cancelDocumentRequest">
		<wsdl:part name="parameters" element="ns:cancelDocument" />
	</wsdl:message>
	<wsdl:message name="cancelDocumentResponse">
		<wsdl:part name="parameters" element="ns:cancelDocumentResponse" />
	</wsdl:message>
	<wsdl:message name="submitDocumentWithBinaryResourceRequest">
		<wsdl:part name="parameters" element="ns:submitDocumentWithBinaryResource" />
	</wsdl:message>
	<wsdl:message name="submitDocumentWithBinaryResourceResponse">
		<wsdl:part name="parameters"
			element="ns:submitDocumentWithBinaryResourceResponse" />
	</wsdl:message>
	<wsdl:message name="searchRequest">
		<wsdl:part name="parameters" element="ns:search" />
	</wsdl:message>
	<wsdl:message name="searchResponse">
		<wsdl:part name="parameters" element="ns:searchResponse" />
	</wsdl:message>
	<wsdl:portType name="DocumentService2PortType">
		<wsdl:operation name="findByTicket">
			<wsdl:input message="ns:findByTicketRequest" wsaw:Action="urn:findByTicket" />
			<wsdl:output message="ns:findByTicketResponse"
				wsaw:Action="urn:findByTicketResponse" />
		</wsdl:operation>
		<wsdl:operation name="submitDocumentWithTextResource">
			<wsdl:input message="ns:submitDocumentWithTextResourceRequest"
				wsaw:Action="urn:submitDocumentWithTextResource" />
			<wsdl:output message="ns:submitDocumentWithTextResourceResponse"
				wsaw:Action="urn:submitDocumentWithTextResourceResponse" />
		</wsdl:operation>
		<wsdl:operation name="cancelDocument">
			<wsdl:input message="ns:cancelDocumentRequest"
				wsaw:Action="urn:cancelDocument" />
			<wsdl:output message="ns:cancelDocumentResponse"
				wsaw:Action="urn:cancelDocumentResponse" />
		</wsdl:operation>
		<wsdl:operation name="submitDocumentWithBinaryResource">
			<wsdl:input message="ns:submitDocumentWithBinaryResourceRequest"
				wsaw:Action="urn:submitDocumentWithBinaryResource" />
			<wsdl:output message="ns:submitDocumentWithBinaryResourceResponse"
				wsaw:Action="urn:submitDocumentWithBinaryResourceResponse" />
		</wsdl:operation>
		<wsdl:operation name="search">
			<wsdl:input message="ns:searchRequest" wsaw:Action="urn:search" />
			<wsdl:output message="ns:searchResponse" wsaw:Action="urn:searchResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DocumentService2Soap11Binding" type="ns:DocumentService2PortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="findByTicket">
			<soap:operation soapAction="urn:findByTicket" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="submitDocumentWithTextResource">
			<soap:operation soapAction="urn:submitDocumentWithTextResource"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="submitDocumentWithBinaryResource">
			<soap:operation soapAction="urn:submitDocumentWithBinaryResource"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cancelDocument">
			<soap:operation soapAction="urn:cancelDocument" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="search">
			<soap:operation soapAction="urn:search" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="DocumentService2Soap12Binding" type="ns:DocumentService2PortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="findByTicket">
			<soap12:operation soapAction="urn:findByTicket"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="submitDocumentWithTextResource">
			<soap12:operation soapAction="urn:submitDocumentWithTextResource"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="submitDocumentWithBinaryResource">
			<soap12:operation soapAction="urn:submitDocumentWithBinaryResource"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cancelDocument">
			<soap12:operation soapAction="urn:cancelDocument"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="search">
			<soap12:operation soapAction="urn:search" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="DocumentService2HttpBinding" type="ns:DocumentService2PortType">
		<http:binding verb="POST" />
		<wsdl:operation name="findByTicket">
			<http:operation location="DocumentService2/findByTicket" />
			<wsdl:input>
				<mime:content type="text/xml" part="findByTicket" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="findByTicket" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="submitDocumentWithTextResource">
			<http:operation location="DocumentService2/submitDocumentWithTextResource" />
			<wsdl:input>
				<mime:content type="text/xml" part="submitDocumentWithTextResource" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="submitDocumentWithTextResource" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="submitDocumentWithBinaryResource">
			<http:operation location="DocumentService2/submitDocumentWithBinaryResource" />
			<wsdl:input>
				<mime:content type="text/xml" part="submitDocumentWithBinaryResource" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="submitDocumentWithBinaryResource" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cancelDocument">
			<http:operation location="DocumentService2/cancelDocument" />
			<wsdl:input>
				<mime:content type="text/xml" part="cancelDocument" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="cancelDocument" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="search">
			<http:operation location="DocumentService2/search" />
			<wsdl:input>
				<mime:content type="text/xml" part="search" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="search" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DocumentService2">
		<wsdl:port name="DocumentService2HttpSoap11Endpoint"
			binding="ns:DocumentService2Soap11Binding">
			<soap:address
				location="http://localhost/services/DocumentService2.DocumentService2HttpSoap11Endpoint" />
		</wsdl:port>
		<wsdl:port name="DocumentService2HttpSoap12Endpoint"
			binding="ns:DocumentService2Soap12Binding">
			<soap12:address
				location="http://localhost/services/DocumentService2.DocumentService2HttpSoap12Endpoint" />
		</wsdl:port>
		<wsdl:port name="DocumentService2HttpEndpoint" binding="ns:DocumentService2HttpBinding">
			<http:address
				location="http://localhost/services/DocumentService2.DocumentService2HttpEndpoint" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
