wsdl/ProjectService2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ns="http://impl.services2.service.ws.projectdirector.gs4tr.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax21="http://dto.model.projectdirector.gs4tr.org/xsd"
	targetNamespace="http://impl.services2.service.ws.projectdirector.gs4tr.org">
	<wsdl:documentation>ProjectService2</wsdl:documentation>
	<wsdl:types>
		<xs:schema xmlns:ax22="http://dto.model.projectdirector.gs4tr.org/xsd"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://impl.services2.service.ws.projectdirector.gs4tr.org">
			<xs:import namespace="http://dto.model.projectdirector.gs4tr.org/xsd" schemaLocation="types.xsd" />
			<xs:element name="findByTicket">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ticket" nillable="false" type="xs:string" />
						<xs:element name="userId" nillable="false" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="findByTicketResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" nillable="true" type="ax22:Project" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="findProjectByName">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="projectName" nillable="false" type="xs:string" />
						<xs:element name="userId" nillable="false" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="findProjectByNameResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" nillable="true" type="ax22:Project" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="findProjectByShortCode">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="projectShortCode" nillable="false"
							type="xs:string" />
						<xs:element name="userId" nillable="false" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="findProjectByShortCodeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" nillable="true" type="ax22:Project" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getUserProjects">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="isSubProjectIncluded" nillable="false"
							type="xs:boolean" />
						<xs:element name="userId" nillable="false" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getUserProjectsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" maxOccurs="unbounded" type="ax21:Project"
							nillable="true" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="findByTicketRequest">
		<wsdl:part name="parameters" element="ns:findByTicket" />
	</wsdl:message>
	<wsdl:message name="findByTicketResponse">
		<wsdl:part name="parameters" element="ns:findByTicketResponse" />
	</wsdl:message>
	<wsdl:message name="findProjectByNameRequest">
		<wsdl:part name="parameters" element="ns:findProjectByName" />
	</wsdl:message>
	<wsdl:message name="findProjectByNameResponse">
		<wsdl:part name="parameters" element="ns:findProjectByNameResponse" />
	</wsdl:message>
	<wsdl:message name="findProjectByShortCodeRequest">
		<wsdl:part name="parameters" element="ns:findProjectByShortCode" />
	</wsdl:message>
	<wsdl:message name="findProjectByShortCodeResponse">
		<wsdl:part name="parameters" element="ns:findProjectByShortCodeResponse" />
	</wsdl:message>
	<wsdl:message name="getUserProjectsRequest">
		<wsdl:part name="parameters" element="ns:getUserProjects" />
	</wsdl:message>
	<wsdl:message name="getUserProjectsResponse">
		<wsdl:part name="parameters" element="ns:getUserProjectsResponse" />
	</wsdl:message>
	<wsdl:portType name="ProjectService2PortType">
		<wsdl:operation name="findByTicket">
			<wsdl:input message="ns:findByTicketRequest" wsaw:Action="urn:findByTicket" />
			<wsdl:output message="ns:findByTicketResponse"
				wsaw:Action="urn:findByTicketResponse" />
		</wsdl:operation>
		<wsdl:operation name="findProjectByName">
			<wsdl:input message="ns:findProjectByNameRequest"
				wsaw:Action="urn:findProjectByName" />
			<wsdl:output message="ns:findProjectByNameResponse"
				wsaw:Action="urn:findProjectByNameResponse" />
		</wsdl:operation>
		<wsdl:operation name="findProjectByShortCode">
			<wsdl:input message="ns:findProjectByShortCodeRequest"
				wsaw:Action="urn:findProjectByShortCode" />
			<wsdl:output message="ns:findProjectByShortCodeResponse"
				wsaw:Action="urn:findProjectByShortCodeResponse" />
		</wsdl:operation>
		<wsdl:operation name="getUserProjects">
			<wsdl:input message="ns:getUserProjectsRequest"
				wsaw:Action="urn:getUserProjectsRequest" />
			<wsdl:output message="ns:getUserProjectsResponse"
				wsaw:Action="urn:getUserProjectsResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ProjectService2Soap11Binding" type="ns:ProjectService2PortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="findByTicket">
			<soap:operation soapAction="urn:findByTicket" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findProjectByName">
			<soap:operation soapAction="urn:findProjectByName"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findProjectByShortCode">
			<soap:operation soapAction="urn:findProjectByShortCode"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUserProjects">
			<soap:operation soapAction="urn:getUserProjects"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ProjectService2Soap12Binding" type="ns:ProjectService2PortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="findByTicket">
			<soap12:operation soapAction="urn:findByTicket"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findProjectByName">
			<soap12:operation soapAction="urn:findProjectByName"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findProjectByShortCode">
			<soap12:operation soapAction="urn:findProjectByShortCode"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUserProjects">
			<soap12:operation soapAction="urn:getUserProjects"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ProjectService2HttpBinding" type="ns:ProjectService2PortType">
		<http:binding verb="POST" />
		<wsdl:operation name="findByTicket">
			<http:operation location="ProjectService2/findByTicket" />
			<wsdl:input>
				<mime:content type="text/xml" part="findByTicket" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="findByTicket" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findProjectByName">
			<http:operation location="ProjectService2/findProjectByName" />
			<wsdl:input>
				<mime:content type="text/xml" part="findProjectByName" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="findProjectByName" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findProjectByShortCode">
			<http:operation location="ProjectService2/findProjectByShortCode" />
			<wsdl:input>
				<mime:content type="text/xml" part="findProjectByShortCode" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="findProjectByShortCode" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUserProjects">
			<http:operation location="ProjectService/getUserProjects" />
			<wsdl:input>
				<mime:content type="text/xml" part="getUserProjects" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="getUserProjects" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ProjectService2">
		<wsdl:port name="ProjectService2HttpSoap11Endpoint" binding="ns:ProjectService2Soap11Binding">
			<soap:address
				location="http://localhost/services/ProjectService2.ProjectService2HttpSoap11Endpoint" />
		</wsdl:port>
		<wsdl:port name="ProjectService2HttpSoap12Endpoint" binding="ns:ProjectService2Soap12Binding">
			<soap12:address
				location="http://localhost/services/ProjectService2.ProjectService2HttpSoap12Endpoint" />
		</wsdl:port>
		<wsdl:port name="ProjectService2HttpEndpoint" binding="ns:ProjectService2HttpBinding">
			<http:address
				location="http://localhost/services/ProjectService2.ProjectService2HttpEndpoint" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>