wsdl/typesInternal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://dto.model.projectdirector.gs4tr.org/xsd"
	xmlns:tns="http://dto.model.projectdirector.gs4tr.org/xsd" xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
	elementFormDefault="qualified" attributeFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/2005/05/xmlmime"
		schemaLocation="xmime.xsd" />
	<xs:complexType name="Notification">
		<xs:sequence>
			<xs:element name="errorMessage" nillable="true" type="xs:string" />
			<xs:element name="notificationDate" nillable="true" type="tns:Date" />
			<xs:element name="notificationPriority" nillable="true"
				type="tns:NotificationPriority" />
			<xs:element name="notificationText" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NotificationPriority">
		<xs:sequence>
			<xs:element name="notificationPriorityName" nillable="true"
				type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Announcement">
		<xs:sequence>
			<xs:element name="announcementText" nillable="true" type="xs:string" />
			<xs:element name="date" nillable="true" type="tns:Date" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContentMonitorPluginInfo">
		<xs:sequence>
			<xs:element name="pluginId" nillable="true" type="xs:string" />
			<xs:element name="pluginName" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Date">
		<xs:sequence>
			<xs:element name="critical" type="xs:boolean" />
			<xs:element name="date" type="xs:long" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="documentGroup" nillable="true"
				type="tns:DocumentGroup" />
			<xs:element name="documentInfo" nillable="true"
				type="tns:DocumentInfo" />
			<xs:element name="id" nillable="true" type="xs:string" />
			<xs:element name="sourceLanguage" nillable="true" type="tns:Language" />
			<xs:element name="sourceWordCount" nillable="true" type="xs:int" />
			<xs:element maxOccurs="unbounded" name="targets" nillable="true"
				type="tns:Target" />
			<xs:element name="ticket" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentGroup">
		<xs:sequence>
			<xs:element name="classifier" nillable="true" type="xs:string" />
			<xs:element maxOccurs="unbounded" name="documents"
				nillable="true" type="tns:Document" />
			<xs:element name="mimeType" nillable="true" type="xs:string" />
			<xs:element name="submission" nillable="true" type="tns:Submission" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentInfo">
		<xs:sequence>
			<xs:element name="clientIdentifier" nillable="true" type="xs:string" />
			<xs:element name="dateRequested" nillable="true" type="tns:Date" />
			<xs:element name="instructions" nillable="true" type="xs:string" />
			<xs:element name="metadata" nillable="true" maxOccurs="unbounded"
				type="tns:Metadata" />
			<xs:element name="name" nillable="true" type="xs:string" />
			<xs:element name="projectTicket" nillable="true" type="xs:string" />
			<xs:element name="sourceLocale" nillable="true" type="xs:string" />
			<xs:element name="submissionTicket" nillable="true" type="xs:string" />
			<xs:element maxOccurs="unbounded" name="targetInfos"
				nillable="true" type="tns:TargetInfo" />
			<xs:element name="wordCount" nillable="true" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntityTypeEnum">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="value" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FileFormatProfile">
		<xs:sequence>
			<xs:element name="configurable" nillable="true" type="xs:boolean" />
			<xs:element name="isDefault" nillable="true" type="xs:boolean" />
			<xs:element name="mimeType" nillable="true" type="xs:string" />
			<xs:element name="pluginId" nillable="true" type="xs:string" />
			<xs:element name="pluginName" nillable="true" type="xs:string" />
			<xs:element name="profileName" nillable="true" type="xs:string" />
			<xs:element name="rulesFileTicketId" nillable="true" type="xs:string" />
			<xs:element name="sourceEncoding" nillable="true" type="xs:string" />
			<xs:element name="targetEncoding" nillable="true" type="xs:string" />
			<xs:element name="targetWorkflowDefinition" nillable="true"
				type="tns:WorkflowDefinition" />
			<xs:element name="ticket" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FuzzyTmStatistics">
		<xs:sequence>
			<xs:element name="fuzzyName" nillable="true" type="xs:string" />
			<xs:element name="wordCount" nillable="true" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ItemFolderEnum">
		<xs:sequence>
			<xs:element name="value" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ItemStatusEnum">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="value" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Language">
		<xs:sequence>
			<xs:element name="locale" nillable="true" type="xs:string" />
			<xs:element name="value" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LanguageDirection">
		<xs:sequence>
			<xs:element name="sourceLanguage" nillable="true" type="tns:Language" />
			<xs:element name="targetLanguage" nillable="true" type="tns:Language" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Metadata">
		<xs:sequence>
			<xs:element name="key" nillable="true" type="xs:string" />
			<xs:element name="value" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Job">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="alerts" nillable="true"
				type="tns:Notification" />
			<xs:element name="availableTasks" nillable="true" type="xs:long" />
			<xs:element name="classifier" nillable="true" type="xs:string" />
			<xs:element name="dateCreated" nillable="true" type="tns:Date" />
			<xs:element name="dueDate" nillable="true" type="tns:Date" />
			<xs:element name="fileCount" nillable="true" type="xs:long" />
			<xs:element name="id" nillable="true" type="xs:string" />
			<xs:element name="instructions" nillable="true" type="xs:string" />
			<xs:element name="mimeType" nillable="true" type="xs:string" />
			<xs:element name="priority" nillable="true" type="tns:Priority" />
			<xs:element name="refPhase" nillable="true" type="tns:Phase" />
			<xs:element name="sourceLanguage" nillable="true" type="tns:Language" />
			<xs:element name="status" nillable="true" type="tns:ItemStatusEnum" />
			<xs:element name="submission" nillable="true" type="tns:Submission" />
			<xs:element name="targetLanguage" nillable="true" type="tns:Language" />
			<xs:element name="ticket" nillable="true" type="xs:string" />
			<xs:element name="tmStatistics" nillable="true" type="xs:string" />
			<xs:element name="wordCount" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JobPagedList">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="elements"
				nillable="true" type="tns:Job" />
			<xs:element name="pagedListInfo" nillable="true"
				type="tns:PagedListInfo" />
			<xs:element maxOccurs="unbounded" name="tasks" nillable="true"
				type="tns:Task" />
			<xs:element name="totalCount" nillable="true" type="xs:long" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JobSearchRequest">
		<xs:sequence>
			<xs:element name="dateCreated" nillable="true" type="tns:Date" />
			<xs:element name="folder" nillable="true" type="tns:ItemFolderEnum" />
			<xs:element maxOccurs="unbounded" name="projectTickets"
				nillable="true" type="xs:string" />
			<xs:element name="sourceLocaleId" nillable="true" type="xs:string" />
			<xs:element name="submissionTicket" nillable="true" type="xs:string" />
			<xs:element name="targetLocaleId" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PagedListInfo">
		<xs:sequence>
			<xs:element name="index" nillable="true" type="xs:int" />
			<xs:element name="indexesSize" nillable="true" type="xs:int" />
			<xs:element name="size" nillable="true" type="xs:int" />
			<xs:element name="sortDirection" nillable="true" type="xs:string" />
			<xs:element name="sortProperty" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Phase">
		<xs:sequence>
			<xs:element name="dateEnded" nillable="true" type="tns:Date" />
			<xs:element name="dueDate" nillable="true" type="tns:Date" />
			<xs:element name="name" nillable="true" type="xs:string" />
			<xs:element name="status" nillable="true" type="tns:ItemStatusEnum" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Policy">
		<xs:sequence>
			<xs:element name="category" nillable="true" type="xs:string" />
			<xs:element name="policyId" nillable="true" type="xs:string" />
			<xs:element name="policyType" nillable="true" type="tns:RoleTypeEnum" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Priority">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="value" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Project">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="announcements"
				nillable="true" type="tns:Announcement" />
			<xs:element name="contentMonitorPluginInfo" nillable="true"
				type="tns:ContentMonitorPluginInfo" />
			<xs:element maxOccurs="unbounded" name="defaultLanguageDirections"
				nillable="true" type="tns:LanguageDirection" />
			<xs:element name="defaultTargetWorkflowDefinition"
				nillable="true" type="tns:WorkflowDefinition" />
			<xs:element name="defaultTargetWorkflowDefinitionTicket"
				nillable="true" type="xs:string" />
			<xs:element maxOccurs="unbounded" name="fileFormatProfiles"
				nillable="true" type="tns:FileFormatProfile" />
			<xs:element maxOccurs="unbounded" name="frequentLanguageDirections"
				nillable="true" type="tns:LanguageDirection" />
			<xs:element maxOccurs="unbounded" name="metadata"
				nillable="true" type="tns:Metadata" />
			<xs:element name="organizationName" nillable="true" type="xs:string" />
			<xs:element name="projectInfo" nillable="true" type="tns:ProjectInfo" />
			<xs:element maxOccurs="unbounded" name="projectLanguageDirections"
				nillable="true" type="tns:LanguageDirection" />
			<xs:element name="ticket" nillable="true" type="xs:string" />
			<xs:element maxOccurs="unbounded" name="workflowDefinitions"
				nillable="true" type="tns:WorkflowDefinition" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProjectInfo">
		<xs:sequence>
			<xs:element name="clientIdentifier" nillable="true" type="xs:string" />
			<xs:element name="defaultJobWorkflowDefinitionTicket"
				nillable="true" type="xs:string" />
			<xs:element name="defaultSubmissionWorkflowDefinitionTicket"
				nillable="true" type="xs:string" />
			<xs:element name="defaultTargetWorkflowDefinitionTicket"
				nillable="true" type="xs:string" />
			<xs:element name="enabled" nillable="true" type="xs:boolean" />
			<xs:element name="name" nillable="true" type="xs:string" />
			<xs:element name="shortCode" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProjectLanguage">
		<xs:sequence>
			<xs:element name="customLocaleCode" nillable="true" type="xs:string" />
			<xs:element name="localeCode" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RepositoryItem">
		<xs:sequence>
			<xs:element name="data" nillable="true" type="xmime:base64Binary" />
			<xs:element name="resourceInfo" nillable="true"
				type="tns:ResourceInfo" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResourceInfo">
		<xs:sequence>
			<xs:element name="classifier" nillable="true" type="xs:string" />
			<xs:element name="clientIdentifier" nillable="true" type="xs:string" />
			<xs:element name="description" nillable="true" type="xs:string" />
			<xs:element name="encoding" nillable="true" type="xs:string" />
			<xs:element name="md5Checksum" nillable="true" type="xs:string" />
			<xs:element name="mimeType" nillable="true" type="xs:string" />
			<xs:element name="name" nillable="true" type="xs:string" />
			<xs:element name="path" nillable="true" type="xs:string" />
			<xs:element name="resourceInfoId" nillable="true" type="xs:long" />
			<xs:element name="size" nillable="true" type="xs:long" />
			<xs:element name="type" nillable="true" type="tns:ResourceType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResourceType">
		<xs:sequence>
			<xs:element name="value" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Role">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="policies"
				nillable="true" type="tns:Policy" />
			<xs:element name="roleId" nillable="true" type="xs:string" />
			<xs:element name="roleInfo" nillable="true" type="tns:RoleInfo" />
			<xs:element maxOccurs="unbounded" name="tasks" nillable="true"
				type="tns:Task" />
			<xs:element name="ticket" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RoleInfo">
		<xs:sequence>
			<xs:element name="roleName" nillable="true" type="xs:string" />
			<xs:element name="roleType" nillable="true" type="tns:RoleTypeEnum" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RoleTypeEnum">
		<xs:sequence>
			<xs:element name="value" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Submission">
		<xs:sequence>
			<xs:element name="alerts" nillable="true" type="tns:Notification"
				maxOccurs="unbounded" />
			<xs:element name="availableTasks" nillable="true" type="xs:int" />
			<xs:element name="dateCompleted" nillable="true" type="tns:Date" />
			<xs:element name="dateCreated" nillable="true" type="tns:Date" />
			<xs:element name="dateEstimated" nillable="true" type="tns:Date" />
			<xs:element maxOccurs="unbounded" name="documents"
				nillable="true" type="tns:Document" />
			<xs:element name="dueDate" nillable="true" type="tns:Date" />
			<xs:element name="id" nillable="true" type="xs:string" />
			<xs:element name="owner" nillable="true" type="xs:string" />
			<xs:element name="project" nillable="true" type="tns:Project" />
			<xs:element name="status" nillable="true" type="tns:ItemStatusEnum" />
			<xs:element name="submissionInfo" nillable="true"
				type="tns:SubmissionInfo" />
			<xs:element name="submitter" nillable="true" type="xs:string" />
			<xs:element name="submitterFullName" nillable="true" type="xs:string" />
			<xs:element name="ticket" nillable="true" type="xs:string" />
			<xs:element name="workflowDefinition" nillable="true"
				type="tns:WorkflowDefinition" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubmissionInfo">
		<xs:sequence>
			<xs:element name="clientIdentifier" nillable="true" type="xs:string" />
			<xs:element name="dateRequested" nillable="true" type="tns:Date" />
			<xs:element name="metadata" nillable="true" maxOccurs="unbounded"
				type="tns:Metadata" />
			<xs:element name="name" nillable="true" type="xs:string" />
			<xs:element name="projectTicket" nillable="true" type="xs:string" />
			<xs:element name="submitter" nillable="true" type="xs:string" />
			<xs:element name="workflowDefinitionTicket" nillable="true"
				type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Target">
		<xs:sequence>
			<xs:element name="availableTasks" nillable="true" type="xs:long" />
			<xs:element name="dateCompleted" nillable="true" type="tns:Date" />
			<xs:element name="dateCreated" nillable="true" type="tns:Date" />
			<xs:element name="dateEstimated" nillable="true" type="tns:Date" />
			<xs:element name="document" nillable="true" type="tns:Document" />
			<xs:element name="downloadThresholdTimeStamp" nillable="true"
				type="tns:Date" />
			<xs:element name="dueDate" nillable="true" type="tns:Date" />
			<xs:element name="fileName" nillable="true" type="xs:string" />
			<xs:element name="id" nillable="true" type="xs:string" />
			<xs:element maxOccurs="unbounded" name="phases" nillable="true"
				type="tns:Phase" />
			<xs:element name="refPhase" nillable="true" type="tns:Phase" />
			<xs:element name="sourceLanguage" nillable="true" type="tns:Language" />
			<xs:element name="sourceWordCount" nillable="true" type="xs:int" />
			<xs:element name="status" nillable="true" type="tns:ItemStatusEnum" />
			<xs:element name="targetInfo" nillable="true" type="tns:TargetInfo" />
			<xs:element name="targetLanguage" nillable="true" type="tns:Language" />
			<xs:element name="targetWordCount" nillable="true" type="xs:int" />
			<xs:element name="ticket" nillable="true" type="xs:string" />
			<xs:element name="tmStatistics" nillable="true"
				type="tns:TmStatistics" />
			<xs:element name="workflowDefinition" nillable="true"
				type="tns:WorkflowDefinition" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TargetInfo">
		<xs:sequence>
			<xs:element name="dateRequested" nillable="true" type="tns:Date" />
			<xs:element name="encoding" nillable="true" type="xs:string" />
			<xs:element name="instructions" nillable="true" type="xs:string" />
			<xs:element name="metadata" nillable="true" maxOccurs="unbounded"
				type="tns:Metadata" />
			<xs:element name="priority" nillable="true" type="tns:Priority" />
			<xs:element name="requestedDueDate" type="xs:long" />
			<xs:element name="targetLocale" nillable="true" type="xs:string" />
			<xs:element name="workflowDefinitionTicket" nillable="true"
				type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Task">
		<xs:sequence>
			<xs:element name="groupName" nillable="true" type="xs:string" />
			<xs:element name="selectStyle" nillable="true" type="xs:int" />
			<xs:element name="taskId" nillable="true" type="xs:long" />
			<xs:element name="taskName" nillable="true" type="xs:string" />
			<xs:element name="weight" nillable="true" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaskModel">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="metadata"
				nillable="true" type="tns:Metadata" />
			<xs:element name="parentEntityTicket" nillable="true"
				type="xs:string" />
			<xs:element name="taskTicket" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaskResponse">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="metadata"
				nillable="true" type="tns:Metadata" />
			<xs:element name="repositoryItem" nillable="true"
				type="tns:RepositoryItem" />
			<xs:element name="responseTicket" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TmStatistics">
		<xs:sequence>
			<xs:element name="fuzzyWordCount1" nillable="true"
				type="tns:FuzzyTmStatistics" />
			<xs:element name="fuzzyWordCount10" nillable="true"
				type="tns:FuzzyTmStatistics" />
			<xs:element name="fuzzyWordCount2" nillable="true"
				type="tns:FuzzyTmStatistics" />
			<xs:element name="fuzzyWordCount3" nillable="true"
				type="tns:FuzzyTmStatistics" />
			<xs:element name="fuzzyWordCount4" nillable="true"
				type="tns:FuzzyTmStatistics" />
			<xs:element name="fuzzyWordCount5" nillable="true"
				type="tns:FuzzyTmStatistics" />
			<xs:element name="fuzzyWordCount6" nillable="true"
				type="tns:FuzzyTmStatistics" />
			<xs:element name="fuzzyWordCount7" nillable="true"
				type="tns:FuzzyTmStatistics" />
			<xs:element name="fuzzyWordCount8" nillable="true"
				type="tns:FuzzyTmStatistics" />
			<xs:element name="fuzzyWordCount9" nillable="true"
				type="tns:FuzzyTmStatistics" />
			<xs:element name="goldWordCount" nillable="true" type="xs:int" />
			<xs:element name="noMatchWordCount" nillable="true" type="xs:int" />
			<xs:element name="oneHundredMatchWordCount" nillable="true"
				type="xs:int" />
			<xs:element name="repetitionWordCount" nillable="true"
				type="xs:int" />
			<xs:element name="totalWordCount" nillable="true" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TiUserInfo">
		<xs:sequence>
			<xs:element name="languageDirections" nillable="true"
				maxOccurs="unbounded" type="tns:LanguageDirection" />
			<xs:element name="organizationId" nillable="true" type="xs:long" />
			<xs:element name="projectRoles" nillable="true" maxOccurs="unbounded"
				type="xs:string" />
			<xs:element name="projectTicket" nillable="true"
				maxOccurs="unbounded" type="xs:string" />
			<xs:element name="systemRoles" nillable="true" maxOccurs="unbounded"
				type="xs:string" />
			<xs:element name="vendorId" nillable="true" type="xs:long" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UserInfo">
		<xs:sequence>
			<xs:element name="accountNonExpired" nillable="true" type="xs:boolean" />
			<xs:element name="accountNonLocked" nillable="true" type="xs:boolean" />
			<xs:element name="autoClaimMultipleTasks" nillable="true"
				type="xs:boolean" />
			<xs:element name="claimMultipleJobTasks" nillable="true"
				type="xs:boolean" />
			<xs:element name="credentialsNonExpired" nillable="true"
				type="xs:boolean" />
			<xs:element name="dateLastLogin" nillable="true" type="xs:dateTime" />
			<xs:element name="emailAddress" nillable="true" type="xs:string" />
			<xs:element name="emailNotification" nillable="true" type="xs:boolean" />
			<xs:element name="enabled" nillable="true" type="xs:boolean" />
			<xs:element name="firstName" nillable="true" type="xs:string" />
			<xs:element name="lastName" nillable="true" type="xs:string" />
			<xs:element name="password" nillable="true" type="xs:string" />
			<xs:element name="timeZone" nillable="true" type="xs:string" />
			<xs:element name="userName" nillable="true" type="xs:string" />
			<xs:element name="userType" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UserProfile">
		<xs:sequence>
			<xs:element name="availableTasks" nillable="true" type="xs:int" />
			<xs:element name="organizationName" nillable="true" type="xs:string" />
			<xs:element maxOccurs="unbounded" name="systemRoles"
				nillable="true" type="tns:Role" />
			<xs:element maxOccurs="unbounded" name="tasks" nillable="true"
				type="tns:Task" />
			<xs:element name="ticket" nillable="true" type="xs:string" />
			<xs:element name="userInfo" nillable="true" type="tns:UserInfo" />
			<xs:element name="vendorName" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkflowDefinition">
		<xs:sequence>
			<xs:element name="description" nillable="true" type="xs:string" />
			<xs:element name="name" nillable="true" type="xs:string" />
			<xs:element name="ticket" nillable="true" type="xs:string" />
			<xs:element name="type" nillable="true" type="tns:EntityTypeEnum" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>